/* ************
 * Static stuff
 * ************ */
 #titlebox {
  margin: 30px auto;
  width: 83%;
  text-align: center;
  background-color: #F4F8FF;
}


/* ***************
 * Animation stuff
 * *************** */
.showHideTransition {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.showHideTransition.ng-hide {
  opacity:0;
}