/* ************
 * Static stuff
 * ************ */
body {
	overflow-y: scroll;
}

 #titlebox {
  margin: 60px auto;
  width: 83%;
  text-align: center;
  position: relative;
}

.neededhelp button {
	float: left;
}
.neededhelp input {
	float: left;
}

input.buttonLikeInput {
	width: 200px;
	height: 50px;
	padding-left: 50px;
}

.hideMe {
	display: none;
}

input.wide {
	width: 600px;
}

h1 {
  font-size: 7rem;
  color: #FFF;
}

h2 {
  font-size: 2.5rem;
  color: #FFF;
}

.container {
  text-align: center;
  margin: auto;
  width: 76%;
}

button.ask, button.help {
  height: 50px;
  line-height: 50px;
  font-size: 13px;
  width: 200px;
}

button.ask {
  margin-right: 50px;
  position: absolute;
  left: 0;
  background-color: #FFF;
}

button.help {
  margin-left: 50px;
}

.neededhelp, .providehelp {
	background-color: #FFFFFF;
	position: absolute;
}

.neededhelp {
	left: 0;
}

.providehelp {
	right: 0;
}



/* ***************
 * Animation stuff
 * *************** */
.showHideTransition {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.showHideTransition.ng-hide {
  opacity:0;
}


.wide-add, .wide-remove {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.0s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.0s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.0s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.0s;
}


section.ask {
  text-align: center;
}

input.ask {
  width: 50%;
}

.fade {
  transition: 1s ease-in-out all;
  opacity: 0;
  top: -200px;
}

.fade.in {
  top: 0;
  opacity: 1;
}

.row.buttons {
  text-align: center;
}

.questions {
  width: 50%;
  margin: auto;
}

.question-list {
  width: 100%;
  margin: auto;
}

.questions > .filter {
  text-align: center;
  width: 100%;
}

.questions > .filter > input {
  width: 100%;
}

ol {
  list-style-type: none;
}

ol > li:hover {
  color: #33c3f0;
}
