<!DOCTYPE html>
<html lang="en" ng-app="helpersApp">
<head>
  <meta charset="UTF-8">
  <title>Helpers</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-animate.min.js"></script>
  <script src="js/all.js"></script>
  <link rel="stylesheet" type="text/css" href="css/normalize.css"/>
  <link rel="stylesheet" type="text/css" href="css/skeleton.css"/>
  <link rel="stylesheet" type="text/css" href="css/helpers.css"/>
</head>
<body>
  <div id="titlebox">
    <!--<h1>Helpers</h1>
    <h2>Crowdsource every day desktop problems into the cloud<h2>-->
      <h1>Foobar</h1>
      <h2>Lorem Ipsum dol e..</h2>
  </div>
  <div class="container">
    <div class="row" ng-init="showButtonLeft=true; showButtonRight=true; showHelpForm=false">


      <div id="neededhelp" class="one-half column" ng-show="showButtonLeft">
        <button ng-click="showHelpForm=true; showButtonRight=false">I need help</button>
      </div>


      <div id="providehelp" class="one-half column" ng-show="showButtonRight">
        <button>I want to help</button>
      </div>
    </div>
    <div class="row">
      <div class="one-half column">
        <div>
          <section class="ask check-element sample-show-hide" ng-show="showHelpForm" ng-controller="AskCtrl">
            <input type="text" placeholder="{{hint}}" ng-model="Question" ng-keydown="askQuestion($event)" />
          </section>
        </div>

      </div>

    </div>
  </div>

</body>
</html>
